<!-- SHOW AN INDIVIDUAL TASK IN DETAILED VIEW -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=task.title%></title>
</head>
<body>
    <h1><%=task.title%></h1>
    <p><%=task.description%></p>
    <a href="/tasks/<%=task._id%>/edit">Edit</a>
    <a href="/tasks/">Back</a>
    <form action="/tasks/<%=task._id%>/delete?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>